body {
  background: url('../images/stars-bg.svg') no-repeat fixed bottom;
  background-size: cover;
  color: #fff;
  margin-bottom: 30px;
}

.light-bg {
  background: rgba(150,150,150,.4);
  border-radius: 5px;
  border: 1px solid white;
}

.inline {
  display: inline;
}

.character {
  background: #eee;
  padding: 5px;
  border: 2px solid yellow;
  border-radius: 5px;
}

.character:hover {
  opacity: .8;
}

.section-border {
  border: 1px solid yellow;
  border-radius: 5px;
}