@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
  background: url('../images/stars-bg.svg') no-repeat fixed bottom;
  background-size: cover;
  color: #fff;
  margin-bottom: 10px;
  font-family: 'Orbitron', sans-serif;
}

h3 {
  font-size: 1.5rem;
}

.logo {
  max-width: 360px;
}

.game-output {
  color: white;
  background: #222;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 1.3rem;
  min-height: 66px;
}

.light-bg {
  background: rgba(30,30,30,.5);
  border-radius: 5px;
  border: 1px solid white;
}

.inline {
  display: inline;
}

.character {
  background: #222;
  border: 2px solid yellow;
  border-radius: 5px;
  max-width: 130px;
  max-height: 100px;
}

.min-section-height {
  min-height: 160px;
}

.min-col-height {
  min-height: 116px;
}

.character:hover {
  opacity: .5;
}

.section-border {
  border: 2px solid yellow;
  border-radius: 5px;
  background: rgba(20,20,20,.7);
}

.attack-button {
  line-height: 2.5rem;
  border-color: #fff;
  border-width: 2px;
}